$white: #FFFFFF;
$black: #000000;
$transparent: transparent;
$pink: #EE2A7B;
$pink-tone-1: #ED1C7C;
$yellow: #FCB618;
$blue: #292562;
$blue-tone1: #0E215E;
$blue-tone2: #141C4F;
$borderColor: #E9EBF0;
$gray: #9199B4;
$gray-tone1: #9199B4;
$gray-tone2: #F5F7FF;
$gray-tone-3: #898DA7;

$main-font: "BPG Ingiri Arial", sans-serif;
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;